<div class="homebox">
  <div class="innerhomebox">
    <div class="innerhomeboxcont">
      <div class="logo">
        <h1>Kickass<span>Classical</span></h1>
      </div>
      <h2 id="subtitle">Listen To Your Favorite Composers</h2>
      <div class="button_container">
        <a routerLink="/registerform">
          <div class="round_button">SIGN UP</div>
        </a>
        <a routerLink="/loginform">
          <div id="login_button" class="round_button">LOG IN</div>
        </a>
      </div>
    </div>
  </div>
</div>
