#mixtapes h1 {
  font-size: 70px;
  font-style: italic;
  color: #1eb129;
}

#mixtapes {
  margin-top: 50px;
}

.mixtape-cont {
  min-height: 200px;
  background: white;
  padding: 0;
  border-top: 1px solid #1eb129;
}

.sort .btn {
  background: #1eb129;
  color: white;
  padding: 2px 10px;
  border-radius: 60px;
  font-weight: 100;
}

.sort {
  color: #1eb129;
  padding: 10px 0px;
  font-size: 13px;
}

.mixtape-thumb {
  height:250px;
  padding-bottom:15px;
}

.loader {
  margin:0 auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.coverImg {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.overlay {
  font-size: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
}

.overlay h2 {
  font-size: 0;
}

.overlay:hover h2 {
  font-size:35px;
  font-style:italic;
}

.overlay:hover {
  visibility: visible;
  background: rgba(0, 0, 0, 0.58);
  font-size: inherit;
}

.sortbtns {
  display:inline-block;
}
