<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../final-app/src/app/includes/stylesheet.css">
    <title>KickassClassical</title>
</head>
<body>
      <div class="homebox">
        <div class="innerhomebox">
          <div class="innerhomeboxcont">
            <div class="logo">
              <h1>Kickass<span>Classical</span></h1>
            </div>
            <h2 id="subtitle">Listen To Your Favorite Composers</h2>
            <div class="button_container">
              <div class="round_button">SIGN UP</div>
              <div id="login_button" class="round_button">LOG IN</div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
