<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../final-app/src/app/includes/stylesheet.css">
    <title>KickassClassical</title>
</head>
<body>
      <div class="homebox">
        <div class="innerhomebox">
          <div class="innerhomeboxcont">
            <p>Your Registration Process is Done!</p>
            <h2 id="subtitle">Now You Are Officialy KickassClassical</h2>
            <div class="button_container">
              <div class="round_button" routerLink="mixtapes">START</div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
